.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--white-letter);
    padding: 25px 20px;
    text-decoration: none;
    margin-right: 10px;
    width: 45%;
    max-width: 300px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    outline: 2px solid #ffff;
    border: none;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
    
}

.button svg{
    margin-left: 10px;
}
.button:hover{
    color: #3a3a3a;
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 0;
    height: 105%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -10;
    transition: width .8s;
}
.button:hover::before{
    width: 150%;
}
.light{
    color: var(--darker-background);
    outline: 2px solid #141414;
    background-color: rgb(255, 255, 255);
    
}
.light:hover{
    color: white;
}
.light::before{
    background-color: #141414;
}
@media screen and (max-width: 750px) {
    .button{
        font-size: 1em;
    }
}